[Desktop Entry]
Name=custom

X-KDE-PluginInfo-Name=custom
X-KDE-PluginInfo-Author=Ulrich Hansen
X-KDE-PluginInfo-Email=uhansen@debianart.org
X-KDE-PluginInfo-License=GPL-2 or (at your option) any later version
