[Desktop Entry]
Name=kit

X-KDE-PluginInfo-Name=kit
X-KDE-PluginInfo-Author=Ulrich Hansen
X-KDE-PluginInfo-Email=uhansen@debianart.org
X-KDE-PluginInfo-License=GPL-2 or (at your option) any later version
