Source: desktop-theme-kit
Section: x11
Priority: optional
Maintainer: Ulrich Hansen <uhansen@mainz-online.de>
Uploaders: Ronoaldo JLP <ronoaldo@gmail.com>
Build-Depends: debhelper (>= 9), cdbs
Standards-Version: 3.9.3
Homepage: http://wiki.debian.org/DebianArt/Themes/
Vcs-Git: https://github.com/ulrich-hansen/desktop-theme-kit

Package: desktop-theme-kit
Pre-Depends: dpkg (>= 1.15.7.2~), desktop-base
Architecture: all
Suggests: gnome | kde-standard | xfce4 | imagemagick | wmaker | plymouth-themes-script
Depends: ${misc:Depends}
Description: desktop-theme-kit
 This package allows root to install custom desktop themes for Debian.
