[KdmGreeterTheme]
Encoding=UTF-8
Greeter=desktop-theme-package.xml
Name=desktop-theme-package
Description=KDM Meta theme for theme packages
Author=Ulrich Hansen
Copyright=(c) 2012 Ulrich Hansen <uhansen@mainz-online.de>, (c) 2010 Roman Shtylman <shtylman@gmail.com>
Screenshot=screenshot.png
