[KSplash Theme: kit]
Name = kit
Description = Theme by Ulrich Hansen. 
Version = 1.0
Author = Ulrich Hansen <uhansen@debianart.org>, Nuno Pinheiro <nuno@oxygen-icons.org>, Riccardo Iaconelli <riccardo@kde.org>
# The "glassified" KSplash icon theme has been created by Nuno Pinheiro and Riccardo Iaconelli.
Homepage = http://wiki.debian.org/DebianArt/Themes/

# Theme behaviour settings.
Engine = KSplashX
